<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ params.title }}</title>
<meta name="description" content="{{ params.desc }}" />
<link rel="canonical" href="https://{{ site.baseURL }}" />
<meta name="referrer" content="no-referrer-when-downgrade" />
{{> theme/style }}