<!DOCTYPE html>
<html lang="en">
<head>
    {{> theme/head }}
</head>
<body>
    <header>
        {{> theme/header }}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        {{> theme/footer }}
    </footer>
</body>